@import url(https://fonts.googleapis.com/css?family=Montserrat);

.desktop {
  display: none;
}

#country {
  display: none;
}

body {
  font-family: "Montserrat";
  background: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* header------------------------------------------------------------------------------ */
header {
  position: relative;
  margin: 0px 0px 45px 0px;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 409px;
  background: linear-gradient(
    140deg,
    #000957 38.73%,
    #344cb7 66.81%
  ); /* 106.22deg ?*/

  justify-content: end;
}

header h1 {
  position: relative;
  padding: 35px;
  margin: 0px;
  /* width: 415px; */
  height: 127px;
  top: 0;
  /* display: flex; */

  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-align: right;

  color: #ffffff;
}

.search {
  /* display: flex; */
  margin: 15px 35px;
  padding: 0;
  position: relative;
  /* width: 415px; */
  height: 55px;
  border-radius: 50px;
  text-align: justify;

  background: #ffffff;
}
.search input {
  height: 55px;
  width: 85%;
  margin: 0%;
  padding: 0%;
  position: absolute;
  align-items: center;
  font-size: 30px;
  border: none;
  left: 25px;
}

.search input::before {
  border: none;
  border-bottom: #ffffff;
}

.searchButton {
  margin: 0%;
  padding: 0%;
  width: 55px;
  height: 55px;
  position: absolute;
  font-size: 20px;
  right: 2px;
  align-items: center;
  background: #ebe645;
  border-radius: 50px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

header h3 {
  position: relative;
  margin: 5px 35px 0px 40%;
  /* width: 60%; */

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
}

nav {
  position: absolute;
  width: 100%;
  bottom: -22.5px;
  display: flex;
  justify-content: space-evenly;
}

nav button {
  width: 55px;
  height: 55px;
  font-size: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
}

/*  fin header --------------------------------------------------------------------------------- */

.color1 {
  color: #ffffff;
  background-color: #000957;
}
.color2 {
  color: #ffffff;
  background-color: #577bc1;
}
.color3 {
  color: #ffffff;
  background-color: #ebe645;
}
.color4 {
  color: #ffffff;
  background-color: #511281;
}

/* card ---------------------------------------------------------------------------------------- */
.card {
  /* display: inline-block; */
  position: relative;
}

.card div {
  height: 230px;
  margin: 32px 36px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.card div h1 {
  align-items: center;
  justify-content: center;
  width: 300px;
  vertical-align: 50%;
  margin: 0;
  padding: 32px 36px;

  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 88px;
  display: flex;
  color: #577bc1;
}

.card h2 {
  width: 300px;
  padding: auto;
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000957;
}

#city h1 {
  color: #000957;
}

#city h2 {
  color: #577bc1;
}

.map {
  background-color: #000957;
  position: relative;
  height: 331px;
  border: solid;
  border-radius: 10px;
  margin: 0 35px 35px 35px;
}

/* format telephone--------------------------------------------------------*/

.phone table {
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.phone tr,
th {
  text-align: start;
}

/* .phone,
th {
  width: 30%;
} */
